@font-face {
    font-family: matter;
    src: url(/font/Matter-Light.ttf);
}
@font-face {
    font-family: matter-bold;
    src: url(/font/Matter-Bold.ttf);
}
@font-face {
    font-family: matter-medium;
    src: url(/font/Matter-Medium.ttf);
}
@font-face {
    font-family: matter-reg;
    src: url(/font/Matter-Regular.ttf);
}
body *{
    /* border: 1px solid red !important; */
    /* overflow: hidden; */
}
.matter-font{
    font-family: matter !important;

}
.matter-bold-font{

    font-family: matter-bold !important;

}